<div class="vw-100 vh-100 d-flex justify-content-center align-items-center">
    <form action="" class="d-flex flex-column shadow-sm p-5" style="width: 30%">
        <h1>Crear</h1>
        <label for="">Name</label>
        <input type="text">
        <label for="">Lastname</label>
        <input type="text">
        <label for="">Email</label>
        <input type="text">
        <button class="btn btn-primary my-2">Agregar</button>
    </form>
</div>