<div class="vh-100 vw-100 bg-danger">
        <h1>hor</h1>
        <table class="table table-striped">
            <thead>
            <th>Name</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Actions</th>
            <th>Actions</th>
            <th>Actions</th>
            <th>Actions</th>
            </thead>
            <tbody>
            <tr>
                <td>juan</td>
                <td>barrera</td>
                <td>barrer"mail.com</td>
                <td>Create</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
            </tbody>
            <tr>
                <td>Juan</td>
                <td>Barrera</td>
                <td>Juan@mail.com</td>
                <td>delete</td>
                <td>delete</td>
                <td>delete</td>
            </tr>
            <tr>
                <td>Juan</td>
                <td>Barrera</td>
                <td>Juan@mail.com</td>
                <td>delete</td>
                <td>delete</td>
                <td>delete</td>
            </tr>

        </table>
</div>